.App {
  color: white;
}
.App-profile {
  border: 1 px, solid #344e41;
}
.App-home {
  padding: 10px;
}
.Home-header {
  padding-right: 10px;
}
.Home-weather {
  border: 2 px, solid #344e41;
}
.Home-chat {
  border: 2 px, solid #344e41;
}
.Home-upload {
  border: 2 px, solid #344e41;
}
.container {
  border: 2px, solid #344e41;
}
.welcome {
  padding: 30px;
}
.component-container {
  display: flex;
  padding: 20px;
}
.background {
  background-color: #6c7d5c;
  top: 0;
}
