.footer {
  color: white;
  background-color: #6c7d5c;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 40px;
}
.link,
.link:hover {
  text-decoration: none;
}
.link:hover {
  color: #132a13;
}