.gardenlogo2  {
  max-height: 200px;
  max-width: 15%;
}

.socialgarden2 {
  justify-content: center;
  max-width: 50%;
}

header {
  background-color: #132a13;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.gardenimage {
  max-width: 25%;
  z-index: -1;
  justify-content: left;
}