.photo {
  border: 2px solid black;
  margin: 10px;
}

.photo-container {
  border: 2px solid black;
  background: #6c7d5c;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin: 20px;
}